{% macro number (id, map, remaining) %}
    <div class="form-group">
        <label for="input-{{ id }}" class="col-sm-2 control-label">
            {{ map[id].label }}
            {% if remaining is not null %}
                <span class="badge my-badge" id="remaining-{{ id }}" title="Dostępna liczba">{{ remaining }}</span>

            {% endif %}
        </label>

        <div class="col-sm-10">
            <div class="input-group">
                <input type="number" class="form-control" id="input-{{ id }}"
                       min="0" placeholder="{{ map[id].desc }}"
                       ng-model="input.{{ id }}"
                        >

                <div class="input-group-addon" id="calc-{{ id }}">
                    <div
                         ng-bind-html-unsafe="axb(input.{{ id }}, map.{{ id }}.unitPrice )">
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endmacro %}