{% import "AppBundle:Order:common.hmtl.twig" as common %}

{# IMIĘ #}
<div class="form-group">
    <label for="firstName" class="col-sm-2 control-label">{{ 'resource.firstName'|trans }}</label>

    <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="firstName" placeholder="Imię zamawiającego">
    </div>
</div>
{# NAZWISKO #}
<div class="form-group">
    <label for="lastName" class="col-sm-2 control-label">{{ 'resource.lastName'|trans }}</label>

    <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="lastName" placeholder="Nazwisko zamawiającego">
    </div>
</div>
{# EMAIL #}
<div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>

    <div class="col-sm-10">
        <input type="email" class="form-control" ng-model="email"
               placeholder="Adres email, na który wyślemy potwierdzenie">
    </div>
</div>
{{ common.number('liczbaDzieci', 0) }}
{{ common.number('liczbaDoroslych', 0) }}
{# DOJAZD #}
<div class="form-group">
    <label for="dojazd" class="col-sm-2 control-label">{{map.autokar.label}}</label>

    <div class="col-sm-10">
        <div class="input-group">
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" ng-model="transport"
                       value="own">nie
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="provided" ng-model="transport">
                tak
            </label>

            <div class="input-group-addon">
                <div ng-switch="transport">
                    <div ng-switch-when="own" ng-bind-html-unsafe="common.axb(0,map.autokar.unitPrice)"></div>
                    <div ng-switch-when="provided"
                         ng-bind-html-unsafe="common.apbxc(childrenScope.liczbaDzieci.value,childrenScope.liczbaDoroslych.value,map.autokar.unitPrice)"></div>
                </div>
            </div>
        </div>
    </div>
</div>