{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="container a-flex-container a-absolute">
        <div>


            <button style="margin-top:20px;" type="button" class="btn btn-success pull-right" data-container="body" data-toggle="popover" data-placement="bottom"
                    data-content="{{ 'preview.tip'|trans }}">
                {{ 'preview.tip.header'|trans|raw }}
            </button>
            <h1>{{ currency.id }}</h1>

            <div class="">
                <table class="table pull-right" style="width:auto">
                    <tr>
                        <th>{{ 'tab.min'|trans }}</th>
                        <td>{{ attrs.min_value|number_format(4, '.', ',') }}</td>
                        <th>{{ 'tab.max'|trans }}</th>
                        <td>{{ attrs.max_value|number_format(4, '.', ',') }}</td>
                        <th>{{ 'tab.avg'|trans }}</th>
                        <td>{{ attrs.avg_value|number_format(4, '.', ',') }}</td>
                        <th>{{ 'tab.ratio'|trans }}</th>
                        <td>{{ currency.ratio }}</td>
                    </tr>
                </table>
            </div>
            <p class="lead">{{ 'details.of'|trans }} {{ currency.label }}</p>
        </div>
        <div class="splitter-enabled a-flex-container a-flex">
            <div class="a-chart a-flex" id="currency-chart"></div>
            <div class="a-chart-table-container a-flex">
                <table class="table table-striped table-hover a-chart-table">
                    <thead>
                    <tr>
                        <th>
                            {{ 'tab.date'|trans }}
                        </th>
                        <th>
                            {{ 'tab.value'|trans }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {# d3js place here#}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/dygraph/dygraph-combined.js'
    '@AppBundle/Resources/assets/js/dygraph-addons.js'
    '@AppBundle/Resources/assets/js/jquery.ensurevisible.js'
    '@AppBundle/Resources/assets/js/pages/preview.js'
    '@AppBundle/Resources/public/date.format.lite.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(function () {
            var options = {
                labels: ['{{'time'|trans }}', '{{ currency.id }}'],
                data:{{ json|raw }}
            };
            //dygraph localize
            Date.names = "{{ 'date.format.names'|trans }}".match(/.[a-zżółćęąśźń]+/g)
            Dygraph.SHORT_MONTH_NAMES_ = Date.names.slice(0, 12);
            var controller = new PreviewController(options);
        });
    </script>
{% endblock %}
